*{
	marigin:0px;
	padding:0px;
}
body{
	font-family:verdena;	
}
.header-logo{
	width:100%;
	position:relative;
}
.logo{
	position:absolute;
	left:700px;
	width:100px;
	height:70px;
	top:-10px;
}
.login-content{
	position:relative;
	float:left;
	top:60px;
}
form{
	position:absolute;
	left:600px;
}
.box{
	padding-left:20px;
	box-sizing:border-box;
	border-radius:5px;
	border:1px solid gray;
	padding:10px;
	width:300px;
	}
input{
	
	border:1px solid gray;
	border-radius:2px;
	height:25px;
}
.box button{
	background-color:#F2A80B;
}
input:hover{
	border-color:#F2A80B;
}
footer {
	top:400px;
	position:relative;
	
	font-size:12px;
}	
.tabs a{
	overflow:hidden;
	float: left;
	padding-left:35px;
	text-decoration: none;
}
ul{
	position:absolute;
	left:600px;
	}
li{
	list-style-type:none;
	float:left;
}
	